<div class="main">
        <div class="introduce">
            <div class="introduce_overlay">
                <div class="grid wide">
                    <div class="row introduce_wrap">
                        <div class="col l-6 introduce_info">
                            <div class="introduce_info-wrap">
                                <a href="https://www.facebook.com/Coffee-shop-112936514713441" target="_blank" class="introduce_info-link">
                                    <i class="ti-facebook"></i>
                                </a>
                                <a href="https://www.instagram.com/coffeeshop6001/" target="_blank" class="introduce_info-link">
                                    <i class="ti-instagram"></i>
                                </a>
                                <div class="introduce_info-link">
                                    <img src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.6435-9/168656995_1187296111733285_6975702238895154787_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=174925&_nc_ohc=ptGEPgqPC2YAX83bykD&_nc_ht=scontent.fhan2-1.fna&oh=00_AT8d3-cfz2AeinE0fZjUD23j79pWIKr6oqKVrzSSrpJFtw&oe=6293C2B6" alt="">
                                    <i class="ti-angle-down"></i>

                                    <ul class="subnav">
                                        <li class="subnav_item">
                                            <a href="/menu/create" class="subnav_item-link">Thêm sản phẩm</a>
                                        </li>
                                        <li class="subnav_item">
                                            <a href="/me/stored/menus" class="subnav_item-link">Sản phẩm của tôi</a>
                                        </li>
                                        <li class="subnav_item">
                                            <a href="" class="subnav_item-link">Đăng xuất</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col l-6 introduce_booking">
                            <div class="btn full-right">Book a Table</div>
                        </div>
                    </div>
                    <div class="nav">
                        <ul class="nav_list">
                            <li class="nav_item">
                                <a href="/" class="nav_item-link">About</a>
                            </li>
                            <li class="nav_item">
                                <a href="/" class="nav_item-link">Menu</a>
                            </li>
                            <li class="nav_item">
                                <a href="/" class="nav_item-link">Testimonials</a>
                            </li>
                            <li class="nav_item">
                                <a href="/" class="nav_item-link">Gallery</a>
                            </li>
                            <li class="nav_item">
                                <a href="/" class="nav_item-link">Contact</a>
                            </li>
                        </ul>
                    </div>
    
                    <p class="introduce_title">WELCOME TO COFFEE SHOP</p>
    
                    <h1 class="introduce_heading">
                        A Cup Coffee of <br> Inspirationnto Make <br> Your Day
                    </h1>
    
                    <div class="introduce_btn-more">
                        <div class="btn">Discover More</div>
                    </div>
                </div>           
            </div>
            <div class="menu-btn">
                <i class="ti-menu"></i>
            </div>
        </div>

        <div id="about" class="about_section">
            <div class="grid wide">
                <div class="row">
                    <div class="col l-6 m-5 c-12">
                        <h6 class="about_heading">ABOUT US</h6>
                        <h2 class="about_title">Your Finest Coffee Served Next Door!</h2>
                        <div class="about_separate"></div>
                    </div>
                    <div class="col l-6 m-7 c-12">
                        <p class="about_desc-1">Cuộc hành trình từ hạt đến chiếc cốc bắt đầu trở lại vào đầu năm 1995. Đó là một nỗ lực để phục vụ một trải nghiệm quốc tế thực sự ngay trong khu vực lân cận của bạn. Kể từ khi chúng tôi phát triển thành một nhóm gồm những người đam mê không chỉ muốn bạn thưởng thức cà phê mà còn có khoảng thời gian tuyệt vời với chúng tôi.</p>
                        <p class="about_desc-2">Chúng tôi đã phát triển để trở thành địa điểm yêu thích của những người yêu thích cà phê ở mọi lứa tuổi muốn dành thời gian chất lượng trong khi nhâm nhi ly cà phê mà chúng tôi phục vụ.</p>
                        <p class="about_desc-3">Ngày nay, chúng tôi tiếp tục phục vụ cà phê ngon nhất trong thị trấn và đã xây dựng mối quan hệ cà phê sâu sắc hơn với người dân Hà Nội và xung quanh.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="container_wrap">
                <div class="container_quotes">
                    <svg class="container_quotes-svg" width="40" height="40" viewBox="0 0 48 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.2696 24.901C15.6724 24.901 17.5836 25.6655 19.0034 27.1945C20.4232 28.6143 21.1331 30.5802 21.1331 33.0921C21.1331 35.8225 20.2594 37.9522 18.5119 39.4812C16.8737 40.901 14.5802 41.6109 11.6314 41.6109C8.0273 41.6109 5.18771 40.2457 3.11263 37.5154C1.03754 34.6758 0 30.6894 0 25.5563C0 20.7508 1.03754 16.3276 3.11263 12.2867C5.29693 8.24573 8.46416 4.20477 12.6143 0.16382C12.7235 0.054606 12.8874 0 13.1058 0C13.4334 0 13.7065 0.163824 13.9249 0.491471C14.1433 0.819112 14.1433 1.09215 13.9249 1.31058C8.57338 6.77133 5.89761 13.215 5.89761 20.6416C5.89761 23.6997 6.44369 25.9386 7.53584 27.3584C8.51877 25.7201 10.43 24.901 13.2696 24.901ZM40.1365 24.901C42.5392 24.901 44.4505 25.6655 45.8703 27.1945C47.2901 28.6143 48 30.5802 48 33.0921C48 35.8225 47.1263 37.9522 45.3788 39.4812C43.7406 40.901 41.4471 41.6109 38.4983 41.6109C34.8942 41.6109 32.0546 40.2457 29.9795 37.5154C27.9044 34.6758 26.8669 30.6894 26.8669 25.5563C26.8669 20.7508 27.9044 16.3276 29.9795 12.2867C32.1638 8.24573 35.3311 4.20477 39.4812 0.16382C39.5904 0.054606 39.7543 0 39.9727 0C40.3003 0 40.5734 0.163824 40.7918 0.491471C41.0102 0.819112 41.0102 1.09215 40.7918 1.31058C35.4403 6.77133 32.7645 13.215 32.7645 20.6416C32.7645 23.6997 33.3106 25.9386 34.4027 27.3584C35.3857 25.7201 37.2969 24.901 40.1365 24.901Z" fill="white"></path>
                    </svg>
                </div>
                <h2 class="container_title">It gives me great pleasure to contribute to <br> the community with the best coffee in <br> town and a place to build relationships.</h2>
                <p class="container_author">Ethan Hunt. Owner.</p>
            </div>
        </div>

        <div id="menu" class="menu_section">
            <div class="grid wide">
                <h3 class="menu_heading">Chúng tôi phục vụ</h3>
                <p class="menu_sub-heading">Nó không chỉ là cà phê. Chúng tôi phục vụ nhiều món giải khát, đồ ăn nhẹ và món ngon để đáp ứng vị giác <br> của bạn và đảm bảo bạn sẽ có được trải nghiệm tốt nhất khi đến với chúng tôi.</p>

                <div class="row menu_list">
                    {{#each menus}}
                    <div class="col l-4 m-4 c-12 menu_item">
                        <a href="/menu/{{this.slug}}" class="menu_item-link">
                            <img src="{{this.image}}" alt="" class="menu_item-img">
                        </a>
                        <div class="menu_item-body">
                            <a href="/menu/{{this.slug}}" class="menu_item-body-link">
                                <h4 class="menu_item-name">{{this.name}}</h4>
                            </a>
                            <p class="menu_item-price">{{this.price}}đ</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="club_section">
            <div class="grid wide club_wrap">
                <p class="club_content">Tham gia Câu lạc bộ Cà phê của chúng <br> tôi để nhận Giảm giá Độc quyền.</p>
            </div>
        </div>

        <div id="testimonials" class="testimonials_section">
            <div class="grid wide">
                <div class="row">
                    <div class="col l-6 m-6 c-12 testimonials_content">
                        <h2 class="testimonials_heading">Người hâm mộ cà <br> phê của chúng tôi <br> nói!</h2>
                        <div class="testimonials_item">
                            <p class="testimonials_item-text">Coffee ở đây rất tuyệt vời!</p>
                            <div class="testimonials_item-body">
                                <img src="/img/member1.jpg" alt="" class="testimonials_item-img">
                                <span class="testimonials_item-name">A</span>
                            </div>
                        </div>
                        <div class="testimonials_item">
                            <p class="testimonials_item-text">Nó là 1 địa điểm thật hoàn hảo, nếu bạn chưa đến hãy đến và thử <br> nhé.</p>
                            <div class="testimonials_item-body">
                                <img src="/img/member2.jpg" alt="" class="testimonials_item-img">
                                <span class="testimonials_item-name">E</span>
                            </div>
                        </div>                      
                    </div>
                    <div class="col l-6 m-6 c-12 testimonials_content">
                        <div class="testimonials_item">
                            <p class="testimonials_item-text">Phục vụ ở đây rất tận tình!</p>
                            <div class="testimonials_item-body">
                                <img src="/img/member3.jpg" alt="" class="testimonials_item-img">
                                <span class="testimonials_item-name">B</span>
                            </div>
                        </div>
                        <div class="testimonials_item">
                            <p class="testimonials_item-text">Tôi thực sự rất thích coffee ở đây.</p>
                            <div class="testimonials_item-body">
                                <img src="/img/member4.jpg" alt="" class="testimonials_item-img">
                                <span class="testimonials_item-name">C</span>
                            </div>
                        </div>
                        <div class="testimonials_item">
                            <p class="testimonials_item-text">Ở đây thật yên tĩnh rất phù hợp với ai cần sự yên tĩnh</p>
                            <div class="testimonials_item-body">
                                <img src="/img/member5.jpg" alt="" class="testimonials_item-img">
                                <span class="testimonials_item-name">D</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="gallery" class="gallery_section">
            <div class="grid">
                <div class="gallery_inner">
                    <div class="gallery_list">
                        <div class="gallery_item">
                            <div class="gallery_wrap">
                                <img src="/img/gallery1.jpg" alt="" class="gallery_img">
                            </div>
                        </div>
                        <div class="gallery_item">
                            <div class="gallery_wrap">
                                <img src="/img/gallery2.jpg" alt="" class="gallery_img">
                            </div>
                        </div>
                        <div class="gallery_item">
                            <div class="gallery_wrap">
                                <img src="/img/gallery3.jpg" alt="" class="gallery_img">
                            </div>
                        </div>
                        <div class="gallery_item">
                            <div class="gallery_wrap">
                                <img src="/img/gallery4.jpg" alt="" class="gallery_img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="contact" class="contact_section">
            <div class="grid wide">
                <div class="row contact_top">
                    <div class="col l-6 m-6 c-12">
                        <h3 class="contact_address">123 Cầu Giấy, Hà Nội</h3>
                        <div class="contact_btn">
                            <i class="ti-location-arrow"></i>
                            Get Direction
                        </div>
                    </div>
                    <div class="col l-6 m-6 c-12">
                        <div class="row">
                            <p class="contact_opening l_hidden s-hidden">
                                <i class="ti-time"></i>
                                OPENING HOURS
                            </p>
                            <div class="col l-6 m-6 c-12">
                                <p class="contact_opening m-hide">
                                    <i class="ti-time"></i>
                                    OPENING HOURS
                                </p>
                                <p class="contact_days">Monday-Thursday</p>
                                <p class="contact_time">8am - 10pm</p>
                            </div>
                            <div class="col l-6 m-6 c-12">
                                <p class="contact_opening m-hide" style="visibility: hidden;">
                                    <i class="ti-time"></i>
                                    OPENING HOURS
                                </p>
                                <p class="contact_days">Friday-Sunday</p>
                                <p class="contact_time">7am - 11pm</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l-4 m-4 c-12">
                        <p class="contact_book">Để đặt trước</p>
                    </div>
                    <div class="col l-4 m-4 c-12">
                        <p class="contact_number">+84-123 456 7890</p>
                        <p class="contact_number">+84-123 456 7891</p>
                    </div>
                    <div class="col l-4 m-4 c-12">
                        <p class="contact_email">coffee@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <p class="footer_copyright">Copyright © 2022 Cửa hàng. Powered by Cửa hàng</p>
            <div class="footer_info">
                <a href="#" class="footer_link">
                    <i class="ti-twitter"></i>
                </a>
                <a href="#" class="footer_link">
                    <i class="ti-facebook"></i>
                </a>
                <a href="#" class="footer_link">
                    <i class="ti-instagram"></i>
                </a>
            </div>
        </div>

        <div class="nav_tablet">
            <div class="nav_tablet-close">
                <i class="ti-close"></i>
            </div>
            <ul class="nav_tablet-list">
                <li class="nav_tablet-item">
                    <a href="#about" class="nav_tablet-link">About</a>
                </li>
                <li class="nav_tablet-item">
                    <a href="#menu" class="nav_tablet-link">Menu</a>
                </li>
                <li class="nav_tablet-item">
                    <a href="#testimonials" class="nav_tablet-link">Testimonials</a>
                </li>
                <li class="nav_tablet-item">
                    <a href="#gallery" class="nav_tablet-link">Gallery</a>
                </li>
                <li class="nav_tablet-item">
                    <a href="#contact" class="nav_tablet-link">Contact</a>
                </li>
            </ul>
        </div>
</div>

<script>
    // Dong mo tablet mobile navigation
    const menuBtn = document.querySelector('.menu-btn');
    const nav = document.querySelector('.nav_tablet');
    const close = document.querySelector('.nav_tablet-close');
    const navItem = document.querySelectorAll('.nav_tablet-item')
    let isOpen = false;

    menuBtn.addEventListener('click', function() {
        nav.style.transform = 'translateX(0)';
        nav.style.opacity = '1';
        nav.style.transition = 'transform 0.3s linear, opacity 0.3s linear';
    })

    close.addEventListener('click', function() {
        nav.style.transform = 'translateX(100%)';
        nav.style.opacity = '0';
        nav.style.transition = 'transform 0.3s linear, opacity 0.3s linear';
    })

    navItem.forEach(function(item) {
        item.addEventListener('click', function() {
            nav.style.transform = 'translateX(100%)';
            nav.style.transition = 'none';
        })
    })
</script>